$color-primary: #F1CDB3;
$color-light-text: #FFFFFF;
$color-dark-text: #545454;
$color-nav-text: #CDCDCD;
$color-nav-text_hover: #FAFAFA;
$color-dark-body-text: #4C4C4C;
$color-btn-border: #F1CDB3;
$color-dark-btn-text: #292929;
$color-btn-bg-hov: #FDDCC4;
$color-friends-bg: #F6F6F6;

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;