.hamburger_nav {
  width: 30px;
  height: 22px;
  background: transparent;
  border: transparent;
  position: absolute;
  display: none;
  z-index: 5;
  transition: transform 0.7s ease-in-out;

  @include media-tablet {
    display: block;
    top: 50px;
    right: 20px;
  }
}

.hamburger_nav.active {
  z-index: 5;
  transform: translate(-5%, 0%) rotate(-90deg);
}

.hamburger_nav span {
  width: 30px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-btn-border;
  &.pets {
    background: #000000;
  }
}

.hamburger_nav span:nth-of-type(2) {
  top: calc(50% + 0px);
}
.hamburger_nav span:nth-of-type(3) {
  top: calc(50% + 10px);
}
