.contacts__block {
  display: flex;
  column-gap: 134px;
  padding-top: 40px;
}

.questions__block {
  width: 305px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waiting__block {
  width: 305px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions-title{
  color: $color-light-text;
  padding-top: 17px;
  padding-bottom: 40px;
}

.waiting-title{
  color: $color-light-text;
  padding-top: 17px;
  padding-bottom: 40px;
}

.questions__content, .waiting__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions__item {
  display: flex;
  align-items: center;
  padding-left: 60px;
  margin-bottom: 40px;
  cursor: pointer;
}

.waiting__item {
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

.contact_text {
  width: 305px;
  color: $color-btn-border;
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
  text-decoration-line: none;
}

.contacts-img {
  width: 300px;
  height: 310px;
  background-image: url("../../sass/assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  margin-left: 25px;
}