.background-header-not_only {
  background-image: url("../../sass/assets/images/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
