.help__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__title {
  width: 310px;
  text-align: center;
  padding-bottom: 60px;
}

.help__content{
  width: 1030px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 120px;
}

.help__card {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help-name {
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
  color: $color-dark-text;
}