.header__navigation {
  display: flex;
  justify-content: right;
  align-items: center;

  @include media-mobile {
    display: none;
  }
}

.navigation {
  width: 443px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  @extend %font-secondary;
  @include font ($size: 1.5rem, $height: 2.4rem);
}

.navigation__link a {
  color: $color-nav-text;
  text-decoration-line: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-nav-text_hover;
  }
}

.navigation__link a.active {
  color: $color-nav-text_hover;
}

.navigation__link a.pets {
  color: $color-dark-text;
  &:hover {
    color: $color-dark-btn-text;
  }
}

.navigation__link a.pets.active {
  color: $color-dark-text;
}

.navigation__link.active {
  border-bottom: 3px solid $color-primary;
}