.page-our_friends {
  background-color: $color-friends-bg;
}

.friends__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;

  @include media-tablet {
    padding-bottom: 75px;
  }

  @include media-mobile {
    padding: 42px 0;
  }
}

.friends__title {
  text-align: center;
}

.cards__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 53px;

  @include media-tablet {
    column-gap: 13px;
  }

  @include media-mobile {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
  }
}

.friends__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 90px;
  padding: 60px 0;
  &.pets{
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    @include media-tablet {
      height: 1365px;
      justify-content: left;
      overflow: hidden;
      padding: 30px 0;
    }
  }

  @include media-tablet {
    width: 580px;
    flex-wrap: nowrap;
    column-gap: 40px;
    justify-content: left;
    overflow: hidden;
  }

  @include media-mobile {
    width: 270px;
    padding-top: 42px;
    padding-bottom: 20px;
  }
}

.friend__card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-nav-text_hover;
  border-radius: 9px;
  gap: 30px;
  cursor: pointer;
  &:hover {
    background-color: $color-light-text;
    .btn_card {
      background-color: $color-btn-bg-hov;
      border-color: $color-btn-bg-hov;
    }
  }
}

.card__img {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  border-radius: 9px 9px 0 0;
}
.img_katrine {
  background-image: url("../../sass/assets/images/pets-katrine.png");
}

.img_jennifer {
  background-image: url("../../sass/assets/images/pets-jennifer.png");
}

.img_woody {
  background-image: url("../../sass/assets/images/pets-woody.png");
}

.img_sophia {
  background-image: url("../../sass/assets/images/pets-sophia.png");
}

.img_timmy {
  background-image: url("../../sass/assets/images/pets-timmy.png");
}

.img_charly {
  background-image: url("../../sass/assets/images/pets-charly.png");
}

.img_scarlett {
  background-image: url("../../sass/assets/images/pets-scarlett.png");
}

.img_freddie {
  background-image: url("../../sass/assets/images/pets-freddie.png");
}

.card__name {
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
}

.card__link {
  text-decoration-line: none;
}

.text_arr {
  color: $color-dark-btn-text;
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
  &.inactive {
    color: $color-nav-text;
  }
}

.slider-manage {
  display: flex;
  column-gap: 20px;

  @include media-tablet {
    margin-top: 70px;
  }
}

.friends__link {
  text-decoration-line: none;

  @include media-tablet {
    margin-top: 42px;
  }
}
