.ico {
  display: inline-flex;
}

.ico_arrow_left {
  width: 14px;
  height: 6px;
  background-image: url("./assets/icons/arrow.svg");
  background-repeat: no-repeat;
}

.ico_arrow_right {
  width: 14px;
  height: 6px;
  background-image: url("./assets/icons/arrow.svg");
  background-repeat: no-repeat;
  rotate: 180deg;
}

.ico_help {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.food {
  background-image: url("./assets/icons/icon-pet-food.svg");
}
.transport {
  background-image: url("./assets/icons/icon-transportation.svg");
}
.toys {
  background-image: url("./assets/icons/icon-toys.svg");
}
.bowls {
  background-image: url("./assets/icons/icon-bowls-and-cups.svg");
}
.shampoos {
  background-image: url("./assets/icons/icon-shampoos.svg");
}
.vitamins {
  background-image: url("./assets/icons/icon-vitamins.svg");
}
.medicines {
  background-image: url("./assets/icons/icon-medicines.svg");
}
.collars {
  background-image: url("./assets/icons/icon-collars-leashes.svg");
}
.sleeping {
  background-image: url("./assets/icons/icon-sleeping-area.svg");
}