.background-header-preview {
  background-image: url("./assets/images/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 33px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

//.header__wrapper {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}
//
//.header__wrapper .button {
//  @include media-mobile {
//    display: none;
//  }
//}