.header__navigation {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigation {
  width: 443px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  @extend %font-secondary;
  @include font ($size: 1.5rem, $height: 2.4rem);
}

.navigation__link a {
  color: $color-nav-text;
  text-decoration-line: none;
  cursor: pointer;
  &:hover {
    color: $color-nav-text_hover;
    @extend %transition;
  }
}

.navigation__link.active {
  border-bottom: 3px solid $color-primary;
}