.page-our_friends {
  background-color: $color-friends-bg;
}

.friends__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  &.pets{
    @include media-desk-tab {
      padding-bottom: 75px;
    }

    @include media-mobile {
      padding-bottom: 44px;
    }
  }

  @include media-tablet {
    padding: 42px 0;
  }
}

.friends__title {
  text-align: center;
}

.cards__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 53px;

  @include media-desktop {
    column-gap: 13px;
  }

  @media (max-width: 420px) {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
  }
}

.slider-wrapper {
  //width: 990px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 60px 0;
  &.pets{
    width: 1200px;
    padding: 60px 0;

    @include media-desk-tab {
      width: 580px;
      padding-top: 30px;
      padding-bottom: 40px;
    }

    @include media-mobile {
      margin-top: 12px;
    }
  }

  @include media-desktop {
    width: 580px;
    justify-content: center;
  }

  @include media-tablet {
    max-width: 270px;
    padding-top: 42px;
    padding-bottom: 20px;
  }
}

.friends__slider {
  width: 990px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  column-gap: 90px;
  &.pets{
    width: 1200px;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    @include media-desktop {
      width: 890px;
      height: 900px;
      overflow: hidden;
      justify-content: center;
    }

    @include media-desk-tab {
      width: 580px;
      height: 1365px;
    }
  }

  @include media-desktop {
    width: 580px;
    column-gap: 40px;
  }

  @include media-tablet {
    max-width: 270px;
  }
}

.friend__card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-nav-text_hover;
  border-radius: 9px;
  gap: 30px;
  cursor: pointer;
  &:hover {
    background-color: $color-light-text;
    .btn_card {
      background-color: $color-btn-bg-hov;
      border-color: $color-btn-bg-hov;
    }
  }
}

.card__img {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  border-radius: 9px 9px 0 0;
}


.card__name {
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
}

.card__link {
  text-decoration-line: none;
}

.text_arr {
  color: $color-dark-btn-text;
  @extend %font-primary;
  @include font ($size: 2.0rem, $height: 2.3rem);
  letter-spacing: 0.06em;
  &.inactive {
    color: $color-nav-text;
  }
}

.slider-manage {
  display: flex;
  column-gap: 20px;

  @include media-mobile {
    column-gap: 10px;
  }
}

.friends__link {
  text-decoration-line: none;

  @include media-mobile {
    margin-top: 42px;
  }
}
